.fc-event {
    font-size: 0.9rem;
    padding: 2px 4px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fc-event:hover {
    opacity: 0.8;
}

.fc .fc-daygrid-day-frame {
    padding: 8px;
}

.fc .fc-daygrid-day-number {
    text-decoration: none !important;
    color: #1976d2;
    font-weight: 500;
}

.fc .fc-day-today {
    background-color: #fff7e6 !important;
}

.fc .fc-col-header-cell-cushion {
    text-decoration: none !important;
    font-weight: 600;
    color: #0d47a1;
    font-size: 14px;
}

.fc-tooltip {
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    display: none;
    pointer-events: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}
